**Done=>Ashim**

# Python Programming Assignment: List
### Task 1: Get the length of each item in list
animals = ["Elephant", "Tiger", "Giraffe", "Kangaroo", "Dolphin", 
           "Panda", "Zebra", "Lion", "Penguin", "Cheetah"]

Output format:

"Elephant has length 8"

"Tiger has length 5"

In [8]:
animals = ["Elephant", "Tiger", "Giraffe", "Kangaroo", "Dolphin", 
           "Panda", "Zebra", "Lion", "Penguin", "Cheetah"]

In [9]:
for i in animals:
    print(f'{i} has length {len(i)}')

Elephant has length 8
Tiger has length 5
Giraffe has length 7
Kangaroo has length 8
Dolphin has length 7
Panda has length 5
Zebra has length 5
Lion has length 4
Penguin has length 7
Cheetah has length 7

### Task 2: Separate list based on item length
animals = ["Elephant", "Tiger", "Giraffe", "Kangaroo", "Dolphin", 
           "Panda", "Zebra", "Lion", "Penguin", "Cheetah"]

Create two list a1 and a2, where a1 should store animals name with length <= 5 and a2 with length > 5

In [10]:
a1 = []
a2 = []
animals = ["Elephant", "Tiger", "Giraffe", "Kangaroo", "Dolphin", 
           "Panda", "Zebra", "Lion", "Penguin", "Cheetah"]
for a in animals:
    length=len(a)
    if len(a)>=5:
        a1.append(a)
    else:
        a2.append(a)

print(a1)
print(a2)

['Elephant', 'Tiger', 'Giraffe', 'Kangaroo', 'Dolphin', 'Panda', 'Zebra', 'Penguin', 'Cheetah']
['Lion']


### Task 3: Find common item between two list
Write a program that print the common item between the given two list. Also handle for case sensitive case.

animals_1 = ["Elephant", "Tiger", "Giraffe", "Kangaroo", "Dolphin", 
           "Panda", "Zebra", "Lion", "Penguin", "Cheetah"]
           
animals_2 = ["Jackal", "tiger",  "LION", "Penguin", "Monkey", "Cheetah"]

In [7]:
animals_1 = ["Elephant", "Tiger", "Giraffe", "Kangaroo", "Dolphin", 
           "Panda", "Zebra", "Lion", "Penguin", "Cheetah"]
           
animals_2 = ["Jackal", "tiger",  "LION", "Penguin", "Monkey", "Cheetah"]

aa=[x.title() for x in animals_1]
bb=[x.title() for x in animals_2]

ccc=set(aa+bb)
cc=list(ccc)
print(cc)

['Giraffe', 'Jackal', 'Elephant', 'Tiger', 'Monkey', 'Kangaroo', 'Dolphin', 'Penguin', 'Zebra', 'Panda', 'Lion', 'Cheetah']


### Task 4: Item remvoal
Write a program that removes the even number from the list 

list_1 = [4,2,52,81,816,66,238,386,23,33,11,78789]

In [31]:
list_1 = [4,2,52,81,816,66,238,386,23,33,11,78789]






list_2 = []
for i in list_1:
    if i % 2 == 0:
        continue
    list_2.append(i)

print(list_2)

[81, 23, 33, 11, 78789]

### Task 5: Swap values given the indexes 
Write a program to swap values in a given list

animals_2 = ["Jackal", "tiger",  "LION", "Penguin", "Monkey", "Cheetah"]

Tasks:

a. Swap first and last item in animals_2

b. Swap second and second last item

In [39]:
animals_2 = ["Jackal", "tiger",  "LION", "Penguin", "Monkey", "Cheetah"]
animals_2[0], animals_2[-1] = animals_2[-1], animals_2[0]
print(animals_2)

animals_2[1], animals_2[-2] = animals_2[-2], animals_2[1]
print(animals_2)

['Cheetah', 'tiger', 'LION', 'Penguin', 'Monkey', 'Jackal']
['Cheetah', 'Monkey', 'LION', 'Penguin', 'tiger', 'Jackal']

In [34]:
print(a,b)

5 2

### Task 6: Casing of item 
Write a program to create three list (ANIMALS, animals, Animals) from following list with the property as given in output list name 

animals_names = ["Elephant", "tiger", "GirafFe", "KangarOO", "Dolphin", 
           "panda", "ZEBRA", "Lion", "penguin", "Cheetah"]

#### Hint:
ANIMALS = this should have all item in capital casing

animals = this should have all item in small casing

Animals = this should have all item in title casing

In [40]:
animals_names = ["Elephant", "tiger", "GirafFe", "KangarOO", "Dolphin", 
           "panda", "ZEBRA", "Lion", "penguin", "Cheetah"]

In [49]:
ANIMALS = []
animals = []
Animals = []
misc = []
for a in animals_names:
    if a == a.upper():
        ANIMALS.append(a)
    elif a == a.lower():
        animals.append(a)
    elif a == a.title():
        Animals.append(a)
    else:
        misc.append(a)

In [1]:
ANIMALS

NameError: name 'ANIMALS' is not defined

In [50]:
print(ANIMALS)
print(animals)
print(Animals)
print(misc)

['ZEBRA']
['tiger', 'panda', 'penguin']
['Elephant', 'Dolphin', 'Lion', 'Cheetah']
['GirafFe', 'KangarOO']