**Done=>Ashim**

# Python Programming Assignment: Function

### Task 1: Write a function simple_calculator(num1, num2, operation) that takes two numbers and a string specifying an operation ('add', 'subtract', 'multiply', 'divide') and returns the result of the operation.

In [21]:
num1=int(input('Enter First number:'))
num2=int(input('Enter Second Number:'))
operation=input('Enter an operation(+,-,*,/)')

def calculator(num1,num2, operation):
    if operation=="+":
        return num1+num2
    elif operation =="-":
        return num1-num2
    elif operation =="*":
        return num1*num2
    elif operation =="/":
        if num2!=0:
            return num1/num2
        else:
            print('Isnt divisable by 0')
    else:
        print('Invalid operation')
        return None

result=calculator(num1,num2,operation)
print(result)

20

### Task 2: Modify the tuple

Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

In [35]:
tuple1 = (11, [22, 33], 44, 55)
a=list(tuple1)
print(a)

b=a[1].index(22)
# a[1].insert(b, 222)
# print(tuple1)

[11, [22, 33], 44, 55]

In [36]:
a[1][b]=222

In [38]:
tuple(a)

(11, [222, 33], 44, 55)

# Python Programming Assignment: Set

### Task 3: Add a list of elements to a set
Given a Python list, Write a program to add all its elements into a given set.

In [40]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

In [42]:
set(sample_list)
sample_set.union(sample_list)

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}


### Task 4: Return a new set of identical items and unique items from two sets

In [44]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [45]:
a=set1.intersection(set2)
b=set1.union(set2)

In [46]:
a

{30, 40, 50}

In [47]:
b

{10, 20, 30, 40, 50, 60, 70}

# Python Programming Assignment: Dictionary

### Task 5: Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

In [4]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [5]:
result_dict = dict(zip(keys, values))

In [6]:
print(result_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Task 6:Create a dictionary by extracting the keys from a given dictionary
Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

# expected output
{'name': 'Kelly', 'salary': 8000}

In [7]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

In [8]:
extracted_key=['name','salary']
sub_dict={key:sample_dict[key] for key in extracted_key}

In [10]:
print(sub_dict)

{'name': 'Kelly', 'salary': 8000}

### Task 6: Check if a value exists in a dictionary
Write a Python program to check if value 200 exists in the following dictionary.

In [12]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [13]:
to_check = 200
if to_check in sample_dict.values():
    print(f"{to_check} exists in the dictionary")
else:
    print(f"{to_check} does not exist in the dictionary")

200 exists in the dictionary

### Task 7: Change value of a key in a nested dictionary
Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

In [15]:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [16]:
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}