# Python Basics Exercises

## Exercise 1: Variable Naming
- **Task**: Create variables using Camel Case, Pascal Case, and Snake Case naming conventions to store your favorite fruit and print them.

**Example**:
```python
favoriteFruitCamelCase = "Apple"
FavoriteFruitPascalCase = "Banana"
favorite_fruit_snake_case = "Cherry"

print(favoriteFruitCamelCase)
print(FavoriteFruitPascalCase)
print(favorite_fruit_snake_case)
```

In [4]:
# Your code here

## Exercise 2: Variable Assignment
- **Task**: Assign the values "Red", 3, and "Car" to variables `x`, `y`, and `z` in a single line, and then print each variable.

In [5]:
# Your code here

## Exercise 3: Changing Variable Types
- **Task**: Create a variable `number` with an integer value, then change it to a string, and finally to a float. Print the data type at each step using `type()`.

In [6]:
# Your code here

## Exercise 4: Multiple Variables
- **Task**: Assign the same value "Python" to three variables: `a`, `b`, and `c`. Then, print each variable.

In [7]:
# Your code here

## Exercise 5: Unpacking a Collection
- **Task**: Unpack the following list into three variables and print them: `fruits = ["Mango", "Grapes", "Peach"]`.

In [8]:
# Your code here

## Exercise 6: String Concatenation
- **Task**: Create three string variables: `part1 = "Python"`, `part2 = " is"`, and `part3 = " fun!"`. Concatenate them and print the result.

In [9]:
# Your code here

# Data Type Exercises

## Exercise 7: Checking Data Types
- **Task**: Create variables with different data types: `string`, `integer`, `float`, and `boolean`. Use `type()` to print the type of each variable.

In [10]:
# Your code here

## Exercise 8: Numeric Types
- **Task**: Create an integer `a`, a float `b`, and a complex number `c`. Print the data type of each.

In [11]:
# Your code here

## Exercise 9: Type Conversion
- **Task**: Convert the integer `10` to a float, the float `8.5` to an integer. Print the converted values and their types.

In [12]:
# Your code here