# Python Programming Assignment: Function

### Task 1: Write a function simple_calculator(num1, num2, operation) that takes two numbers and a string specifying an operation ('add', 'subtract', 'multiply', 'divide') and returns the result of the operation.

### Task 2: Modify the tuple

Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

In [ ]:
tuple1 = (11, [22, 33], 44, 55)

# Python Programming Assignment: Set

### Task 3: Add a list of elements to a set
Given a Python list, Write a program to add all its elements into a given set.

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]


### Task 4: Return a new set of identical items and unique items from two sets

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Python Programming Assignment: Dictionary

### Task 5: Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

### Task 6:Create a dictionary by extracting the keys from a given dictionary
Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

# expected output
{'name': 'Kelly', 'salary': 8000}

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

### Task 6: Check if a value exists in a dictionary
Write a Python program to check if value 200 exists in the following dictionary.

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

### Task 7: Change value of a key in a nested dictionary
Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

In [ ]:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}