<h2 >Strings</h2>
<b>Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
print("Data science")
print('Data science')

Data science
Data science

<b>Assigning a string to a variable is done with the variable name followed by an equal sign and the string

In [2]:
a = "Data science"
print(a)

Data science

<b>You can assign a multiline string to a variable by using three quotes

In [1]:
a = """This is a bsic python class.
We start with data types, function and classes.
After basic skills in python we learn machine learning"""
print(a)

This is a bsic python class.
We start with data types, function and classes.
After basic skills in python we learn machine learning

In [2]:
a = '''This is a bsic python class.
We start with data types, function and classes.
After basic skills in python we learn machine learning'''
print(a)

This is a bsic python class.
We start with data types, function and classes.
After basic skills in python we learn machine learning

<b>Like many other popular programming languages, strings in Python are <u>arrays</u> of bytes representing unicode characters.<br>

<b>However, Python does not have a character data type, a single character is simply a string with a length of 1. <br>

<b><u>Square brackets</u> can be used to access elements of the string.

In [4]:
data = "Data science"
# print(data[5:12])
print(data)

Data science

In [10]:
len(data)

12

In [15]:
# syntax : string[start_index: end_index: step]

In [11]:
type(data)

str

In [21]:
print(data[5: 8: 2])

si

<b>Since strings are arrays, we can loop through the characters in a string, with a <u>for</u> loop.

In [23]:
x = 'D'
x = 'a'
x = 't'
x = 'a'

In [36]:
for x in "Data":
  print(x)
  # break

D
a
t
a

In [ ]:
f

<b>To get the length of a string, use the <u>len()</u> function.

In [27]:
a = "Data science"
print(len(a))

12

In [ ]:
# len()

<b>To check if a certain phrase or character is present in a string, we can use the keyword <u>in</u>.

In [38]:
txt = "I ate a banana  To check if a certain phrase or character is present in a string, we can use the keyword "
# print("khalkghlk'a " not in txt)

In [40]:
"apple" in txt

False

In [34]:
'eat' not in txt

True

<b>Use it in an <u>if</u> statement

In [30]:
txt = "I ate a banana"
if "banana" in txt:
  print("Yes, 'banana' is present.")
else:
    print("it is other fruit")

Yes, 'banana' is present.

<b>To check if a certain phrase or character is NOT present in a string, we can use the keyword <u>not in</u>.

In [121]:
txt = "I ate a banana"
print("expensive" not in txt)

True

In [122]:
txt = "I ate a banana"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

<h3 style="color:Red">Slicing Strings</h3>
<b>You can return a range of characters by using the slice syntax.

string[start:end:steps]

In [43]:
b = "Data science"
print(b[4:])
print(data[:4])

 science
Data

In [48]:
print(b[2:-2])

ta scien

In [ ]:
[starting_point : end_point : steps]

In [50]:
b = "Data science"
print(b[:-5])

Data sc

In [52]:
# reversing
print(b[ : :-1])

ecneics ataD

In [56]:
# palindrome
a = 'racecar'
a[::-1] == 'racecar'

True

In [ ]:
# function_name(value)
# value.function_name()

Upper Case <br>
<b>The <u>upper()</u> method returns the string in upper case:

In [37]:
a = "science"
print(a.upper())

SCIENCE

In [57]:
"data".upper()

'DATA'

<b>Lower Case <br>
The <u>lower()</u> method returns the string in lower case:

In [58]:
a = "Data scieNce"
print(a.lower())

data science

In [59]:
print(a.title())

Data Science

<b>Remove Whitespace <br>
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

<b> The <u>strip()</u> method removes any whitespace from the beginning or the end

In [69]:
a = "      Data science "
print(len(a))
print(a)
print(a.strip()) # returns "Hello, World!"

19
      Data science
Data science

In [70]:
a.lstrip()

'Data science '

In [71]:
a.rstrip()

'      Data science'

In [72]:
a.strip()

'Data science'

<b>Replace String <br>
The <u>replace()</u> method replaces a string with another string:

In [74]:
a = "Data Science"
print(a.replace("Data", "here"))

here Science

<b>Split String <br>
The <u>split()</u> method returns a list where the text between the specified separator becomes the list items.

In [77]:
a = "  Data science          apple   "
# print(' '.join(a.split())) # returns ['Data', ' science!']
splitted_text = a.split()
print(splitted_text, type(splitted_text))
fomated_String = ' '.join(splitted_text)
print(fomated_String)

['Data', 'science', 'apple'] <class 'list'>
Data science apple

<b>String Concatenation <br>
To concatenate, <u>or</u> combine, two strings you can use the <u>+</u> operator.

In [40]:
a = "Data"
b = "Science"
c = a+" "+b
print(c)

Data Science

In [41]:
a = "Data"
b = "Science"
c = a + " a " + b
print(c)

Data a Science

<b>String Format <br>
we can combine strings and numbers by using the f-string method!

In [80]:

name = 'Shyam'
age = 30
place = 'Lalitpur'

txt = "My name is {name}, and I am {age} years old. I live in {place}"
z= txt.format(name=name, age=age, place=place)
z

'My name is Shyam, and I am 30 years old. I live in Lalitpur'

In [84]:
# using f-string
txt = f"My name is {name}, and I am {age} years old. I live in {place}"
txt

'My name is Shyam, and I am 30 years old. I live in Lalitpur'

In [85]:
print(name, age, place)

Shyam 30 Lalitpur

## Class works 
### 1. Count the number of vowels in a string. (st = "apple")
### 2. Check if a string reads the same forward and backward (palindrome).
### 3. Replace specific character in a string

In [ ]:
st = "apple"
vowels = 'aeiou'
for i in st:
    
    print("The character is ", i)
    if i in vowels:
        print(i)

The character is  a
a
The character is  p
The character is  p
The character is  l
The character is  e
e

In [86]:
txt = "i live in nepal"
# repalce nepal with kathmandu
txt.replace("nepal", "kathmandu")

'i live in kathmandu'

In [93]:
st = "apple"
vowel_list = ['a', 'e', 'i', 'o', 'u']

In [100]:
count = 0 
for i in st:
    print(f"the char is {i}")
    if i not in vowel_list:
        count += 1
        print(f"matched!!!", count)

the char is a
the char is p
matched!!! 1
the char is p
matched!!! 2
the char is l
matched!!! 3
the char is e

In [113]:
st = " Appa"

st = st.strip().lower()

st == st[::-1]

True

In [115]:
st.replace('a', 'b') # st.replace("which to replace", "with what to replace")

'bppb'

## Escape
### \

In [123]:
print('he\'s a boy \n \t \b he')

he's a boy
 he

In [127]:
print("app\ble")

aple

### Raw string, represented by r" "

In [136]:
print(r"app\"+1+le")

app\"+1+le

<h3 style="color:red;">Python Booleans</h3>
<b>Booleans represent one of two values: <u>True</u> or <u>False</u>.

In [41]:
print(10 > 9)
print(10 == 10)
print(10 < 9)

True
True
False

In [2]:
10 > 20

False

In [46]:
x=8
y=3
x//y

2

<h3 style="color:red;">Python Arithmetic Operators</h3>

 <table>
  <tr>
    <th>Operator</th>
    <th>Name</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>+</td>
    <td>Addition</td>
    <td>x + y</td>
  </tr>
  <tr>
    <td>-</td>
    <td>Subtraction</td>
    <td>x - y</td>
  </tr>
      <tr>
    <td>*</td>
    <td>Multiplication</td>
    <td>x * y</td>
  </tr>
       <tr>
    <td>/</td>
    <td>Division</td>
    <td>x / y</td>
  </tr>
       <tr>
    <td>%</td>
    <td>Modulus</td>
    <td>x % y</td>
  </tr>
       <tr>
    <td>**</td>
    <td>Exponentiation</td>
    <td>x ** y</td>
  </tr>
       <tr>
    <td>//</td>
    <td>Floor division	</td>
    <td>x // y	</td>
  </tr>
     
</table>

In [15]:
(5 // 2) - (5 % 2)

1

<h3 style="color:red;"'>Python Assignment Operators </h3>
Assignment operators are used to assign values to variables

 <table>
  <tr>
    <th>Operator</th>
    <th>Example</th>
    <th>Same As</th>
  </tr>
  <tr>
    <td>=</td>
    <td>x = 5</td>
    <td>x = 5</td>
  </tr>
  <tr>
    <td>+=</td>
    <td>x += 3</td>
    <td>x=x+3</td>
  </tr>
      <tr>
    <td>-=	</td>
    <td>x -= 3	</td>
    <td>x=x-3</td>
  </tr>
       <tr>
    <td>*=</td>
    <td>x *= 3</td>
    <td> x=x*3</td>
  </tr>
       <tr>
    <td>/=	</td>
    <td>x /= 3	</td>
    <td>x =x/3</td>
  </tr>
       <tr>
    <td>%=	</td>
    <td>x %= 3	</td>
    <td>x = x % 3	</td>
  </tr>
     
</table>

In [22]:
x = 5 
x += 4
# x = x + 3
print(x) 
x%=2
print(x)

9
1

<h3 style="color:red;">Python Comparison Operators</h3>
Comparison operators are used to compare two values:

In [27]:
5 != 4

True

 <table>
  <tr>
    <th>Operator</th>
    <th>Name</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>==</td>
    <td>Equal</td>
    <td>x == y</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>Not equal</td>
    <td>x != y</td>
  </tr>
      <tr>
    <td>></td>
    <td>Greater than</td>
    <td>x > y</td>
  </tr>
       <tr>
    <td><</td>
    <td>Less than</td>
    <td>x < y</td>
  </tr>
       <tr>
    <td>>=</td>
    <td>Greater than or equal to</td>
    <td>x >= y</td>
  </tr>
       <tr>
    <td><=</td>
    <td>Less than or equal to</td>
    <td>x <= y</td>
  </tr>
     
</table>

<h3 style="color:red;"> Python Logical Operators</h3>
Logical operators are used to combine conditional statements

 <table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>and</td>
    <td>Returns True if both statements are true</td>
    <td>x < 5 and  x < 10</td>
  </tr>
  <tr>
    <td>or</td>
    <td>Returns True if one of the statements is true</td>
    <td>x < 5 or x < 4</td>
  </tr>
      <tr>
    <td>not</td>
    <td>Reverse the result, returns False if the result is true</td>
    <td>not(x < 5 and x < 10)</td>
  </tr>  
</table>

In [33]:
not 10>50

True

<h3 style="color:red;">Python Identity Operators</h3>
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

 <table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>is</td>
    <td>Returns True if both variables are the same object</td>
    <td>x < x is y < 10</td>
  </tr>
  <tr>
    <td>is not</td>
    <td>Returns True if both variables are not the same object</td>
    <td>x < x is not y< 4</td>
  </tr>
</table>

In [35]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [81]:
x = ["apple", "banana"]
y = ["apple", "car"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
True

<b><h2>Python If ... Else</h2> <br>
 
   Python supports the usual logical conditions from mathematics <br> 
    
 <table>
  <tr>
    <th>Operator</th>
    <th>Name</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>==</td>
    <td>Equal</td>
    <td>x == y</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>Not equal</td>
    <td>x != y</td>
  </tr>
      <tr>
    <td>></td>
    <td>Greater than</td>
    <td>x > y</td>
  </tr>
       <tr>
    <td><</td>
    <td>Less than</td>
    <td>x < y</td>
  </tr>
       <tr>
    <td>>=</td>
    <td>Greater than or equal to</td>
    <td>x >= y</td>
  </tr>
       <tr>
    <td><=</td>
    <td>Less than or equal to</td>
    <td>x <= y</td>
  </tr>
     
</table>

<b>If statement

In [37]:
name = 'apple'
if name == "jit":
    print("i am inside if block")

In [49]:
a = 2
b = 20

print(a>b)

if b > a:
    print(f"{b} is greater than {a}")
elif a == b:
    print(f"{b} is equal to {a}")
else:
    print("everything not right")
    
# print("outside")

False
20 is greater than 2

In [52]:
abc = "value"
if abc:
    print("here")
else:
    print("not here")

here

In [59]:
maap = None
if not maap:
    print("inside")
else:
    print("outside")

inside

In [61]:
age = 20
if age >= 18:
    print("The person can vote")
else:
    print("the person cannot vote")

The person can vote

<b>Elif <br> </b>
    The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition"

In [73]:
a = 33
b = 34
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
# elif a!=b:
#     print("this is output")

b is greater than a

<b>Else</b> <br>
The else keyword catches anything which isn't caught by the preceding conditions.

In [150]:
# write elif condition for the code below
age = 20
if age >= 18:
    print("The person can vote")
else:
    print("The person cannot vote")

The person can vote

In [151]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif b < a:
# else:
  print("a is greater than b")

a is greater than b

In [66]:
a = 1
b = 1
if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{a} is less than {b}")

1 is less than 1

<h3>Python Loops</h3> <br>
Python has two primitive loop commands:<br>

* while loops<br>
* for loops<br>

<b>The while Loop</b><br>
With the while loop we can execute a set of statements as long as a condition is true.

In [69]:
# Print i as long as i is less than 6:
i = 1
while (i <= 10):
  print(i)
  i += 1    #remember to increment i, or else the loop will continue forever. 
#i=i+1

1
2
3
4
5
6
7
8
9
10

<b>The break Statement</b><br>
With the break statement we can stop the loop even if the while condition is true

In [75]:
i = 0
while i <= 6:
  i += 1
  if i == 3:
    break
  print(i)

1
2

<b>The continue Statement</b><br>
With the continue statement we can stop the current iteration, and continue with the next

In [76]:
i = 0
while i <= 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7

In [79]:
i = 1
while i <= 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

In [92]:
## write a while loop to print number from 1 to 20

#while condition:
    #statement

i = 1
while i <=20:
    print(i)
    i = i + 2

1
3
5
7
9
11
13
15
17
19

In [89]:
# reverse order
i = 20
while i >= 1:
    print(i)
    i = i - 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

<h3>Python For Loops</h3><br>
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

In [102]:
print(len("python"))
for i in "python":
    print("value of i = ", i)

6
value of i =  p
value of i =  y
value of i =  t
value of i =  h
value of i =  o
value of i =  n

In [93]:
fruits = ["apple", "banana", "cherry", 1]
for x in fruits:
    print(x)

apple
banana
cherry
1

In [113]:
fruits = ["apple", "banana", "cherry", 1]
print(len(fruits))
print(type(fruits))
for x in fruits:
    # print("the value of x =", x)
    if x == "banana":
        print("found: ", x)
        break
    print("the value of x =", x)

4
<class 'list'>
the value of x = apple
found:  banana

In [40]:
fruits = ["apple", "banana", "cherry", 1]
# food = "momo"
for x in fruits:
  print("the value of x =", x)
  if x=='banana' or food == 'momo':
      print("condition true: ", x)
      break
  # print(x, type(x))

the value of x = apple
condition true:  apple

In [169]:
len(fruits)

4

In [37]:
True and  False

False

In [41]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [42]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [163]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## Use of range

# range(start: end+1: interval)

In [118]:
for i in range(2,10+1,2):
    print(i)

2
4
6
8
10

In [119]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [120]:
# print number from 0 to N, where N = 9
for number in range(10+1):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [123]:
for i in range(5,100,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [126]:
## use for loop to get number from 1 to 30 and break if it is divisible by 15

for i in range(1,31,1):
    print(i)
    if i % 15 == 0:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
## class work 
## print the number from 1 to 20 and check if it is even or odd:

# output:
#1 is odd
#2 is even

In [61]:
for x in range(3, 10, 2):
  print(x)

3
5
7
9

In [62]:
for x in range(3, 15, 4):
  print(x)

3
7
11

In [173]:
for i in range(1,len(fruits),2): #
    print(i, fruits[i])

1 banana
3 1

In [66]:
fruits = ["apple", "banana", "cherry", "Hello"]
for i in fruits:
    if i == 'apple':
        print(i.upper())
    elif i == 'banana':
        print(i.title())
    else:
        print(i)

APPLE
Banana
cherry
Hello

# Nested loop

In [107]:
adj = ["red", "big", "TaSty"]
fruits = ["Apple", "Banana", "cherry"]

for x in fruits:
    x = x.lower()
    for y in adj:
        y = y.lower()
        print("value of x =",  x, "###", "value of y = ", y)
        if x == 'cherry' and y == 'red':
            print("the true condition ", x, y)
        elif x == 'apple' and y == 'tasty':
            print("the true condition ", x, y)

value of x = apple ### value of y =  red
value of x = apple ### value of y =  big
value of x = apple ### value of y =  tasty
the true condition  apple tasty
value of x = banana ### value of y =  red
value of x = banana ### value of y =  big
value of x = banana ### value of y =  tasty
value of x = cherry ### value of y =  red
the true condition  cherry red
value of x = cherry ### value of y =  big
value of x = cherry ### value of y =  tasty

In [24]:
list1 = [1,2,3]
list2 = ['a', 'b','c']
for a in list2:
    print(a)
    for x in list1:
        print(x)

a
1
2
3
b
1
2
3
c
1
2
3

## Class Work
### 1. print if given number is even or odd. use python operators and if-else condition
### 2. print odd number between less than 20. using nested loop and control statement.

In [7]:
# x = input("enter the number ")
####hint, using module % for finding remainders

In [8]:
i = 1
while i <= 20:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [9]:
for i in range(1, 21, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
if (x%2) == 1:
    print(f"{x} is odd")
    if x == 8:
        print("equal")
    print("here also")
else:
    print(f"{x} is even")

3 is odd
here also

<h2 style="color:red;">Python Lists</h2> <br>
* Lists are used to store multiple items in a single variable. <br>
* Lists are one of 4 built-in data types in Python used to store collections of data. <br>
* Lists are created using square brackets. <br>
* can change, add, and remove items in a list <br>

# Python List Properties

## 1. **Ordered**
- Lists maintain the order of elements. The order in which elements are added is the order they are stored and accessed.
```python
my_list = [1, 2, 3]
print(my_list[0])  # Output: 1
```

## 2. **Mutable**
- Lists can be modified after creation. You can add, remove, or update elements.
```python
my_list = [1, 2, 3]
my_list[1] = 4
print(my_list)  # Output: [1, 4, 3]
```

## 3. **Dynamic**
- Lists can grow or shrink in size. You can add or remove elements without worrying about size constraints.
```python
my_list = [1, 2, 3]
my_list.append(4)  # Adds an element
my_list.pop()      # Removes the last element
```

## 4. **Heterogeneous**
- Lists can store elements of different types.
```python
my_list = [1, "hello", 3.14, True]
```

## 5. **Allows Duplicates**
- Lists can contain duplicate values.
```python
my_list = [1, 2, 2, 3]
```

## 6. **Indexable**
- Elements in a list can be accessed using their index (starting at 0).
```python
my_list = [1, 2, 3]
print(my_list[1])  # Output: 2
```

## 7. **Slicing**
- You can access a portion of the list using slicing.
```python
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])  # Output: [2, 3, 4]
```

## 8. **Iterable**
- Lists are iterable, meaning you can loop through them using `for` loops.
```python
my_list = [1, 2, 3]
for item in my_list:
    print(item)
```

## 9. **Supports Nesting**
- Lists can contain other lists (or other data structures) as elements.
```python
my_list = [[1, 2], [3, 4]]
print(my_list[0])  # Output: [1, 2]
```

## 10. **Comprehensive Operations**
- Lists support a wide range of operations, including:
  - **Adding elements**: `append()`, `extend()`, `insert()`
  - **Removing elements**: `pop()`, `remove()`, `clear()`
  - **Sorting**: `sort()`, `sorted()`
  - **Reversing**: `reverse()`
  - **Finding elements**: `index()`, `count()`

### Example Summary
```python
my_list = [1, 2, 3, 4]
my_list.append(5)          # Adds an element
print(my_list)             # Output: [1, 2, 3, 4, 5]

my_list.pop(2)             # Removes element at index 2
print(my_list)             # Output: [1, 2, 4, 5]

print(my_list[1:3])        # Output: [2, 4]
my_list.sort(reverse=True) # Sorts in descending order
print(my_list)             # Output: [5, 4, 2, 1]

In [11]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [12]:
#Lists allow duplicate values
fruits = ["apple", "", "banana", "cherry", "apple", "cherry"]
print(fruits)
print("length of list fruits =", len(fruits))

['apple', '', 'banana', 'cherry', 'apple', 'cherry']
length of list fruits = 6

In [13]:
print(bool(0))

False

<b>To determine how many items a list has, use the <u>len()</u> function

In [4]:
len('Data Science')

12

In [9]:
list_a = ["egg", 12]
print(type(list_a))
print(len(list_a))

<class 'list'>
2

In [10]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

<b>List items can be of any data type

In [12]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [13]:
#A list can contain different data types
list1 = ["abc", 34, True, 40.5, "male"]

In [14]:
# list creation
listA = list()
listB = []

In [15]:
print(type(listA), type(listB))

<class 'list'> <class 'list'>

In [18]:
list4 = [1,2,3]
list5 = list((1,2,3))
list5

[1, 2, 3]

<b> We use the list() constructor when creating a new list.

In [19]:
fruits = list(("apple", "banana", "cherry")) # note the double round-brackets
print(fruits)

['apple', 'banana', 'cherry']

<b>List items are indexed and you can access them by referring to the index number

In [22]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [23]:
list1[start:end:interval]

NameError: name 'start' is not defined

In [31]:
fruits = ["apple", "banana", "cherry", "mango", "papaya"]
print(fruits[0:5:3])
print(fruits[-2])

['apple', 'mango']
mango

In [29]:
#slicing
fruits = ["apple", "banana", "cherry"]
print(fruits[1:2])

['banana']

In [33]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(fruits))
print(fruits[-4:-1])

7
['orange', 'kiwi', 'melon']

<b>Check if Item Exists

In [36]:
fruit = ["apple", "banana", "cherry"]
if "APPLE" in fruit:
    print("Yes, 'cherry' is in the fruits list")
else:
  print("there is no item")

there is no item

In [42]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango", "avocado"]

for x in fruits:
    print(x)

apple
banana
cherry
orange
kiwi
melon
mango
avocado

In [58]:
for x in range(len(fruits)):
    print(x, fruits[x])

0 apple
1 banana
2 cherry
3 orange
4 kiwi
5 melon
6 mango

In [48]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango", "avocado"]



for x in range(len(fruits)):
    print(x, fruits[x])

0 apple
1 banana
2 cherry
3 orange
4 kiwi
5 melon
6 mango
7 avocado

In [49]:
for i in range(len(fruit)):
    print(fruit[i])

apple
banana
cherry

In [60]:
for i in fruit:
    if i=="apple":
        print("Yes, there is an apple")

Yes, there is an apple

<b>Change Item Value <br>
To change the value of a specific item, refer to the index number

In [54]:
fruit = ["apple", "banana", "cherry"]
print(fruit[0])
fruit[0] = "blackcurrant"

print(fruit)

apple
['blackcurrant', 'banana', 'cherry']

In [56]:
fruit = ["apple", "banana", "cherry"]
print(fruit[1:3])
fruit[1:3] = ["watermelon", "mango"]
print(fruit)

['banana', 'cherry']
['apple', 'watermelon', 'mango']

In [60]:
# exception case!!

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruit[-2:-4] = ["blackcurrant", "watermelon"]
print(fruit)

['apple', 'banana', 'cherry', 'orange', 'blackcurrant', 'watermelon', 'kiwi', 'mango']

<b>Insert Items <br>
To insert a new list item, without replacing any of the existing values, we can use the <u>insert()</u> method.

In [62]:
fruit = ["apple", "banana", "cherry"]
fruit.insert(2, "watermelon")
print(fruit)

['apple', 'banana', 'watermelon', 'cherry']

<b>Append Items <br>
To add an item to the end of the list, use the <u>append()</u> method:

In [64]:
fruit = ["apple", "banana", "cherry"]
fruit.append("orange")
fruit.append("mango")
print(fruit)

['apple', 'banana', 'cherry', 'orange', 'mango']

<b>Insert Items <br>
To insert a list item at a specified index, use the insert() method. <br>
<b>The insert() method inserts an item at the specified index

In [38]:
fruit = ["apple", "banana", "cherry"]
fruit.insert(1, "orange")
print(fruit)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
# for i in range(3):
#     for j in range(10):
#         n = str(i)+str(j)
#         n = int(n)
#         if n % 2 == 0: 
#             continue
#         if n >= 20:
#             break
#         print(n)

In [75]:
## class work

In [76]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

## TO DO:
1. Find length of list 
2. check if "orange" is present or not 
3. if "orange" is present replace it with "papaya"
4. add "pineapple" on the 5th index,last index 
5. add "pineapple" on the last index 
7. replace the list with the length of each item 
8. merge ["cat", "dog", "lion"] with the list fruits 
6. empty the list

In [104]:
# 3
fruits = ["apple", "banana", "cherry", "kiwi", "orange", "melon", "mango"]

x,y = "tiger", "papaya"
if x in fruits:
    a = fruits.index(x)
    fruits[a] = y
else:
    print(f"{x} not found")
print(fruits)

tiger not found
['apple', 'banana', 'cherry', 'kiwi', 'orange', 'melon', 'mango']

In [86]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

# 1 length using len() keyword
print(len(fruits))


# 2 element comparison 
if "orange" in fruits:
    print("orange is present")
else:
    print("not found")


#3 element replacement
item_to_replace = "orange"

if item_to_replace in fruits:
    orange_idex = fruits.index(item_to_replace)
    fruits[orange_idex] = "papaye"
else:
    print(f"{item_to_replace} no in list")
print(fruits)


#4 adding
fruits.insert(5, "pineapple")
fruits.insert(len(fruits), "pineapple")
print(fruits)

7
orange is present
['apple', 'banana', 'cherry', 'papaye', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'papaye', 'kiwi', 'pineapple', 'melon', 'mango', 'pineapple']

In [90]:
## 7. replace the list with the length of each item 
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

A = []
print("intially::", A)
for i in fruits:
    print(i)
    length_of_each_item = len(i)
    print(length_of_each_item)
    A.append(length_of_each_item)
    print(A)

intially:: []
apple
5
[5]
banana
6
[5, 6]
cherry
6
[5, 6, 6]
orange
6
[5, 6, 6, 6]
kiwi
4
[5, 6, 6, 6, 4]
melon
5
[5, 6, 6, 6, 4, 5]
mango
5
[5, 6, 6, 6, 4, 5, 5]

In [99]:
B = []
B.append(6)
B.append(5)
B.append(10)

In [100]:
B

[6, 5, 10]

In [101]:
pet = ["cat", "dog", "lion"]
print(pet+fruits)

['cat', 'dog', 'lion', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
rr