<h1 style="color:Blue">Python Basics</h1>

# Introduction to Python

Python is a high-level, interpreted programming language known for its **simplicity** and **versatility**. 

Created by *Guido van Rossum* and first released in 1991

Python has become one of the most widely used languages across various fields, including **web development**, **data science**, **artificial intelligence**, **scientific computing**, and **automation**.

---

## Key Features of Python

- **Easy to Learn and Use**: 
  - Python's syntax is simple and intuitive, making it a great choice for both beginners and seasoned developers.

- **Interpreted Language**: 
  - Code is executed line by line, simplifying debugging and providing immediate feedback.

- **Cross-Platform Compatibility**: 
  - Python code runs seamlessly on different operating systems like Windows, macOS, and Linux.

- **Extensive Standard Library**: 
  - A rich library of modules and functions for tasks such as file handling, networking, and more.

- **Community Support**: 
  - A large, active community with ample documentation, tutorials, and third-party packages.

- **Multiple Programming Paradigms**: 
  - Supports object-oriented, functional, and procedural programming styles.

---

## Why Choose Python?

1. **Versatility**: 
   - Suitable for web development, data analysis, machine learning, and more.
  
2. **Data Science and Machine Learning**: 
   - Essential libraries like **Pandas**, **NumPy**, **Matplotlib**, **TensorFlow**, and **scikit-learn** have made Python the preferred language in this domain.

3. **Web Development**: 
   - Frameworks such as **Django** and **Flask** enable the creation of robust and scalable web applications.

4. **Scripting and Automation**: 
   - Ideal for automating routine tasks, boosting productivity and efficiency.

5. **Rich Ecosystem and Community**: 
   - A vast array of libraries and an active community ensure solutions are readily available for most challenges.

6. **Readability and Maintainability**: 
   - Clean and readable code, fostering better collaboration among teams.

7. **Rapid Prototyping and Development Speed**: 
   - Quick to prototype and test ideas, allowing for faster iterations and development cycles.

---

## Applications of Python

- **Web Development**: 
  - Frameworks: **Django**, **Flask**, **Pyramid**
- **Data Science and Analytics**: 
  - Libraries: **Pandas**, **NumPy**, **Matplotlib**
- **Machine Learning and AI**: 
  - Tools: **TensorFlow**, **Keras**, **PyTorch**
- **Scientific Computing**: 
  - Libraries: **SciPy**, **SymPy**
- **Automation and Scripting**: 
  - Tools: Built-in modules and libraries like **Selenium** for task automation
- **Game Development**: 
  - Frameworks: **Pygame**
- **Desktop Applications**: 
  - GUI libraries: **Tkinter**, **PyQt**, **Kivy**

---

In [1]:
ajsgk

NameError: name 'ajsgk' is not defined

## check python version

In [3]:
!python --version

Python 3.11.4

## First Programming with Python

In [4]:
print(123)

123

In [3]:
print(1)

1

In [5]:
#python Hello world
print("Hello, World!")

Hello, World!

In [1]:
print("jit")
print(hello)

jit

NameError: name 'hello' is not defined

In [6]:
hello = "Hello"

In [7]:
print(hello)

Hello

In [15]:
jit = "Hello, World!"
print(jit)

Hello, World!

<h1 style="color:Blue">Python Indentation</h1>
<b>Indentation refers to the spaces at the beginning of a code line.

In [8]:
print("hello")
print()

hello

In [12]:
if 5<20:
    print("yes")
    # if 10 < 2:
        # print("not here")
print("here")

yes
here

In [ ]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

<h1 style="color:Blue">Python Comments</h1>

<b>Comments in python can be doe by : #, '''  '''.</b>

In [14]:
#this is to demonstrate indentation
# kdgk;lh khrk
# dkjjkag

Comments can be used to prevent execution when testing code.

In [16]:
# print("Hello World!") 
# print("Hello World!")

<b>Comments can be used to explain Python code

In [19]:
print("Hello World!") #this is a code to print hello world

Hello World!

In [4]:
print("Hello World!")   #this is a code to print hello world

Hello World!

<h3>Multiline Comments</h3>

In [ ]:
# This is a comment for hello world
# writtn in
# more than just one line
print("Hello World!")

Hello World!

In [1]:
'''
anything
lkjflka g
lkasdljkg l;ajdgm
text boolk
'''

'\nanything\nlkjflka g\nlkasdljkg l;ajdgm\ntext boolk\n'

## this is example

In [2]:
''' 
anything
'''

' \nanything\n'

In [3]:
'''This is a comment for hello world
written in
more than just one line'''
print("Hello World!")

Hello World!

In [24]:
#syntax for print
print("this is text")

this is text

In [26]:
v = "value of v"
print(v)

value of v

In [27]:
2a = "hello"

SyntaxError: invalid decimal literal (144315804.py, line 1)

<h1 style="color:Blue">Python Variables</h1>
<b>variables are created when you assign a value to it

<h2>Variable Names</h2>

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

<b><h4>legal variable names:</h4><br> </b>
myvar = "Data science" <br>
my_var = "Data science" <br>
_my_var = "Data science" <br>
myVar = "Data science" <br>
MYVAR = "Data science" <br>
myvar2 = "Data science"

<b><h4>Illegal variable names:<h4></b> <br>
2myvar = "Data science" <br>
my-var = "Data science" <br>
my var = "Data science" <br>

<h4 >Camel Case</h4>
Each word, except the first, starts with a capital letter:

In [65]:
myVariableName = "Data science"

In [66]:
dataScience = 1

<h4 style="color:Red">Pascal Case</h4>
<b>Each word starts with a capital letter:

In [67]:
MyVariableName = "Data science"

<h4 style="color:Red">Snake Case</h4>
<b>Each word is separated by an underscore character:

In [43]:
my_variable_name = "Data science"

In [23]:
x = 5
y = "John"
print(x)
print(y)

5
John

<b>Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [29]:
x = 2.0     # x is of type int
y = "Sally" # y is now of type str
print(type(x))
print(y)

<class 'float'>
Sally

In [ ]:
# most used keywords::: print, type

In [34]:
print("write someting")
print(type(1j))

write someting
<class 'complex'>

In [70]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(y))

<class 'int'>

In [86]:
var1 = 5
print("j lekhda ni vayo.. ", type(var1))


var1 = str(var1)
print("converted", type(var1))

j lekhda ni vayo..  <class 'int'>
converted <class 'str'>

In [78]:
print(int('3') + int('3'))

6

<b>You can get the data type of a variable with the <u>type()</u> function.

In [87]:
x = 4       # x is of type int
y = 8.3333333  # y is a float
z = "Sally" # x is now of type str
# print(type(x))
print(type(y))
# print(type(z))

<class 'float'>

<b>String variables can be declared either by using <u>single</u> or <u>double quotes</u>:

In [88]:
x = "John"
# is the same as
y = 'John'

print(x)
print(y)

John
John

<b>Variable names are <u>case-sensitive</u>.

In [89]:
a = 4
A = "Sally"
# A will not overwrite a

print(a)
print(A)

4
Sally

## TypeCasting

In [11]:
variable_a = input("enter you favourite number ")

In [12]:
print(type(variable_a))

<class 'str'>

In [13]:
print(variable_a)

5

In [14]:
print(variable_a*10)

5555555555

In [15]:
b = int(variable_a)

In [17]:
print(type(b))
print(b*10)

<class 'int'>
50

In [18]:
a = float(variable_a)
print(a)

5.0

In [19]:
print(type(a))

<class 'float'>

In [24]:
c = 10.5
c = str(c)
type(c)

str

In [27]:
# variable creation 
variable_name, varible_class, variable_age = 'value', 10, 15
print(variable_name)

value

<h4 style="color:Red">Many Values to Multiple Variables</h4>

<b>Python allows you to assign values to multiple variables in one line

In [29]:
x, y, z = "Orange", '9', "Cherry"
print("value of x = ", x, "y = ", y)
print(type(y))
print(z)

value of x =  Orange y =  9
<class 'str'>
Cherry

In [30]:
x= "Orange"
y= "Banana"
z="Cherry"

<b>And you can assign the same value to multiple variables in one line

In [32]:
x = y = z = 10.6
print(x)
x = int(x)
print("new value", x)
# print(x, type(x), y)

# y = x

# print(y)
# print(z)

10.6
new value 10

<h4 style="color:Red">Unpack a Collection</h4>

In [36]:
fruits = ["apple", "banana", "cherry"]
x, y, z= fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [37]:
fruits = ["apple", "banana", "cherry"]
x, y, z, z1 = fruits # cannot unpack more values than packed

ValueError: not enough values to unpack (expected 4, got 3)

In [38]:
fruits = ["apple", "banana", "cherry"]
x, y = fruits # cannot unpack less value than packed also

ValueError: too many values to unpack (expected 2)

In [39]:
print(fruits)

['apple', 'banana', 'cherry']

<h4 style="color:Red">Output Variables</h4>
<b>print() function is often used to output variables

In [42]:
print(variable_name)

value

In [43]:
print('you can display whatever text')

you can display whatever text

In [47]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

Python is awesome

In [49]:
x = "Python"
y = "is"
z = "awesome"
print(x+y+z) # + is an operator

Pythonisawesome

In [50]:
x,y = 5,10
# y = 10
print(x + y)  # + is an operator,  5 and 10 are int data type

15

In [51]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
some_Var = str(x)+' '+y
print(some_Var)

5 John

In [52]:
x = 5
y = "John"
print(x, y)

5 John

In [65]:
#Exercise
# create two variable name a and b, store integer and float value to each variable and print the mathematical operation like 
# addition, substraction, divison nand multiplication

a = 3
b = 10.5
print("adding", a, "with", b,"=" ,a+b)
print("substraction:" , a -b )
print(a/b)
print(a*b)

adding 3 with 10.5 = 13.5
substraction: -7.5
0.2857142857142857
31.5

<h1 style="color:Blue">Python Data Types</h1>

<h2>Built-in Data Types</h2>

<b>Variables can store data of different types, and different types can do different things. <br>


* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

In [75]:
x = 3
y = "name"
print(y)
str(x)+y

name

'3name'

# Text

In [66]:
x = "Hello World"
print(type(x))

<class 'str'>

<h2>Python Numbers</h2>

<b>There are three numeric types in Python:

* int
* float
* complex

In [67]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

<h3 style="color:Red">Int</h3>
<b>Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [68]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

<h3 style="color:Red">Float</h3>
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [69]:

x = 1.10
y = 1.0
z = -35.59

a = 35e3
b = 12E4
c = -87.7e100

print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

<h3 style="color:Red">Complex</h3>
<b>Complex numbers are written with a "j" as the imaginary part:

In [70]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

<h3 style="color:Red">Type Conversion/ type casting</h3>
<b>You can convert from one type to another with the int(), float(), and complex() methods

In [72]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

<h3>Specify a Variable Type</h3>
<b>There may be times when you want to specify a type on to a variable.

In [164]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [75]:
a = str(10)
a

'10'

In [100]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2